extends layout

block content
  h1 #{activity.activityName} for  #{user.name}
  - for (let i = 0; i < userActivities.length; i++)
    p
      span= userActivities[i].howMany
      span &nbsp;on&nbsp;
      span= userActivities[i].doneOn
  form(action='/restricted/userActivities/add', method='post')
    input(type='text', placeholder='How long did you do it for?', name='howMany', required='')
    input(type='date', placeholder='When did you do it?', name='doneOn', required='')
    input(type='hidden', value=activity.id, name='activityId')
    button(type='submit') Add Activity Event
